:root {
    --primary-color:#055a05;
    --secondary-color: #fff;
    --accent1-color: #264653;
    --accent2-color: blue;
    --heading-font: "Times New Roman", "Georgia",serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,p,section,article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}
.hero > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}
.hero h1{
    font-size: 2.5rem;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 25px;
    z-index: 1;
}
.hero article{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    max-width: 1100px;
    border-radius: 12px;
    margin-top: 50px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

.hero article p {
    font-size: 1.2rem;
    flex: 1;
    color: #fff;
    line-height: 1.5;
    padding: 20px;
}
.hero article img {
    width: 40%;
    object-fit: cover;
    height: 100%;
}
/*Header layout using CSS Gird*/
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 15px 50px;
    gap: 20px;
    background: linear-gradient(90deg,#0077b6, #00b4d8);
    box-shadow: 0 4px 6px rgba(0,0, 0, 0.1);
    color: #fff;

}
header nav{
    justify-self: end;
}
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s, transform 0.2s;
}
header img {
    width: auto;
    max-height: 60px;
    border-radius: 8px;
}
header nav ul li a:hover{
    color: #ffd166;
    transform: scale(1.1);

}
.history h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #0077b6;
}
.history-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.history-text {
    width: 30%;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
}
.history-image {
    width: 30%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.adventures h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #0077b6;
}
.adventures-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}
.adventures-grid figure  {
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s; box-shadow: 0.3s;
}
.adventures-grid figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}
.adventures-grid figure:hover img {
    transform: scale(1.05);
}
.adventures-grid figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 8px 10px;
    font-size: 1rem;
    text-align: center;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #0077b6;
    color: #fff;
}
footer p {
    margin: 0;
    font-size: 0.9rem;
}
footer .socialmedia {
    display: flex;
    gap: 20px;
    align-items: center;
}
footer .socialmedia img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid red;
    transition: transform 0.3s, opacity 0.3s;
}
footer .socialmedia img :hover{
    transform: scale(1.2);
    opacity: 0.8;
}